/* region HERO*/
.conteneur_hero {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 17% 17% 17% 17% 28%;
    grid-template-rows: 80% 12% 8% ;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 2em;
}

.hero {
    background-color: white;
    color: #263126;
    border-radius: 5px;
    font-size: 150%;
    text-align: center;
}

.sous-conteneur_hero {
    padding: 1em;
    text-align: center;
}

.lien_hero {
    padding: 0.2em;
    font-size: 1.2em;
}

#a {
    grid-column: 1 / span 4;
}
#b {
    grid-column: 5 ;
    grid-row: 1 / 2;
}
#c {
    grid-column: 1 ;
    grid-row: 2 ;
}

#d {
    grid-column: 2 ;
    grid-row: 2 ;
}

#e {
    grid-column: 3 ;
    grid-row: 2 ;
}

#f {
    grid-column: 4 ;
    grid-row: 2 ;
}

.bouton_hero {
    font-size: 1.5vw;
    background-color: #4E6445;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo_hero {
    width: 20vw;
    border-radius: 10px;
}
/* endregion */


/* region CARROUSEL METTANT EN AVANT LES ARTICLES AVEC DEFILEMENT AUTOMATIQUE ET INFINI*/
.conteneur_carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrousel {
    overflow-x: auto;
    display: flex;
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.images {
    display: flex;
    gap: 1rem;
    animation: defilement 40s infinite linear;
    padding-right: 1rem;
}

/*C'est ce qui définit le mouvement de droite à gauche*/
@keyframes defilement {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* endregion */


/* region LE CATALOGUE */
.conteneur_catalogue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    border-radius: 15px;
}

.catégorie {
    margin: 15px;
    padding: 10px;
    border: #4E6445 solid 1px;
    border-radius: 10px;
    height: 20vh;
    width: 15vw;
    /*pour que l'image remplisse toute la zone*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.titre_categorie {
    border : black solid 1px;
    border-radius: 10px;
    height: auto;
    width: auto;
    background-color: #4E6445;
    margin: auto;
}

#g {
    background-image: url("../media/images/articles/dodo-1.png");
}

#h {
    background-image: url("../media/images/articles/tote-bag-1.png");
}

#i {
    background-image: url("../media/images/articles/chocolat-1.png");
}

#j {
    background-image: url("../media/images/articles/calendrier-1.png");
}
/* endregion */